
    {{> head }}
    {{> navbar }}
    <div class="row">

        <div class="col-8">
            <h1>
                Smart IT Company
            </h1>
            <p>
                Dedicados a la automatizacion de tus procesos
            </p>
        </div>
        <div class="col-4">
          <img src="assets/img/SmartITLOGO1.JPG" class="img-thumbnail">
        </div>
    </div>
    {{> footer}}